<!DOCTYPE html>
<html>
  <head>
    <title>welcome to payment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
    *{
      margin: 0;padding: 0;
    }
      h1{
    margin-top: 10%;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
      }
      p{
        text-align: center;
        font-size: 16px;
      }
      form{
        text-align: center;
        border: 1px solid gray;
        width: 420px;
        height: 300px;
        padding: 50px;
        margin: 0 auto;
      }
      a{
        text-decoration: none;
        width: 170px;
        height: 28px;
        line-height: 28px;
        display: block;
        text-align: center;
      }
      form button{
        width: 170px;
        height: 30px;
      }
      form span{
        display: none;
      }
      form span i{
        color: red;
      }

      .box{
        width: 100%;

      }
      .box h2{
          display:block;
          margin: 0 auto;
          width: 520px;
        }
    </style>
  </head>
  <body>
    <h1>Payment</h1>
    <p>Welcome to AccountSystem</p>
    <% if(tip!==null){ %>
       <div class="box">
         <h2><%= tip %></h2>
       </div>
    <%}%>

    <form action="/payresult" onsubmit="return verify()" method="post">

      姓名：<input id="username" type="text" value="<%=name %>" name="name">  <br><br>
      ID&nbsp;&nbsp;  ：<input id="password" type="number" value="<%=id %>" name="id">  <br><br>
      缴费类型：
      <select class="" id="paytype" name="paytype">
        <option value="1">Tuition</option>
        <option value="2">Dormitory</option>
        <option value="3">Else</option>
      </select><br><br>

       金额：<input type="number" name="pay"> <br><br>
       备注：<input type="text" name="remark"> <br><br>
      <span id="tip"> <i>*</i>请填写完整信息 </span> <br><br>
      <button type="submit">确认缴费</button>
      <button ><a href="/backpay">返回</a></button>
    </form>

    <script type="text/javascript">
      function verify(){
        var  username= document.getElementById('username');
        var  password= document.getElementById('password');
        var  marks= document.getElementById('paytype');
        var  tips= document.getElementById('tip');

        if(!username.value || !password.value || !marks.value) {
          tips.style.display = "block";
          return false;
        }else{
          return true;
        }

      }
    </script>
  </body>
</html>
